/*  your css code here. If applicable */
*{
	box-sizing: border-box;
}
h1{
	text-align:center;
}
body{
	background-color: #cccccc;
}
.player_one{
	border: 1px solid gray;
	background-color: white;
}
a{
	text-decoration:none;
	color: #cccccc;
}
.player_two{
	background-color: white;
	display:inline-block;
}
li{
	list-style-type:none;
}

